* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgba(255, 166, 0, 0.11); */
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ==============Header section starts============== */

header {
    width: 100%;
    height: 500px;
    background-color: rgba(255, 166, 0, 0.11);
    display: flex;
    align-items: center;
    padding: 20px 50px;
}

.header-left {
    width: 50%;
}

.orange-text {
    color: orange;
}

.header-left p {
    margin: 20px 0;
}

.btn {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: white;
    background: linear-gradient(45deg, orangered, orange);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: all linear 0.4s;
}

.btn:hover {
    background: none;
    color: orange;
    border: 1px solid orange;
}

.header-right {
    width: 50%;
}

/* ==============Header section ends============== */

/* ==============Services section starts============== */

#services-container {
    margin: 100px 0;
}

#services-container h1 {
    font-size: 40px;
    text-align: center;
}

.serices-carts {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.cart1 {
    width: 30%;
    background: rgba(255, 166, 0, 0.11);
    display: flex;
    justify-content: center;
    padding: 20px;
}

.cart-img {
    width: 30%;
}

.cart1 img {
    width: 100%;
}

.cart-txt {
    width: 70%;
    margin: 5px 0 0 10px;
}

/* ==============Services section ends============== */

/* ==============Products section starts============== */
.products-container {
    width: 100%;
    margin-bottom: 100px;
}

.products-container h1 {
    font-size: 40px;
    text-align: center;
}

.laptop-section {
    width: 90%;
    margin: 0 auto;
}

.laptop-section h4 {
    margin: 20px 0;
}

.laptop-boxes {
    display: flex;
    justify-content: space-evenly;
}

.laptop-box1 {
    width: 30%;
    text-align: center;
    box-shadow: 10px 10px 20px grey;
    padding: 20px;
    border-radius: 5px;
}

.laptop-box1 img {
    width: 100%;
}

.laptop-txt {
    transition: all linear 0.4s;
}

/* ==============Products section ends============== */

/* ==============Footer section starts============== */

footer {
    width: 100%;
    height: 200px;
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 80px 0;
}

/* ==============Footer section ends============== */